/*Color Palette https://colorhunt.co/palette/165211*/
@import url('https://fonts.googleapis.com/css?family=Lobster|Merriweather&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    --header1: calc(2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --bigText: calc(2rem + 1vw);
    --special-color: #ad62aa;
    --background-color: #413c69;
    --gray-text: #525252;
    --Logo-font: font-family: 'Lobster', cursive;
    --text-font: font-family: 'Merriweather', serif;

}


/*Global styles*/
h1 {
    font-size: var(--header1);


}

li,
button,
label,
input,
p,
a {
    font-size: var(--text);
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
}

h4,
h5 {
    font-size: var(--header4);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;

}

body {
    font-family: var(--text-font);
}

h1 {
    font-family: var(--Logo-font);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Navigation css styles*/
.main-header {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 10vh;
    padding: 2rem 0;


}

#logo {
    flex: 1 1 20rem;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
}

.headline {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.headline-intro {
    flex: 1 1 40rem;
}

.headline-img {
    flex: 1 1 40rem;
}

.headline-img img {
    height: 100vh;
    width: 100%;
}